.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.box-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 440px;
  height: 100vh;
  padding: 25px 50px;
  background-color: #fff;
  align-items: center;
  z-index: 20;
  display: flex;
  align-items: center;
  animation-duration: 1s;
  animation-name: slideInRight;
}

.modal__wrap {
  width: 100%;
}

.box-modal_close {
  position: absolute;
  top: 32px;
  right: 55px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: right center;
}

.modal__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}

.modal__form {
  margin-top: 40px;
  margin-bottom: 90px;
}

.modal__field {
  position: relative;
  padding-top: 1px;
  margin-bottom: 5px;
}

.modal__label {
  position: absolute;
  top: 15px;
  left: 0;
  color: #a8a8a8;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 100;
  
}

.modal__input {
  font-weight: 400;
  width: 100%;
  min-height: 21px;
  border: none;
  outline: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(51,51,51,0.3);
  
  &:focus + .modal__label {
    top: 0;
    font-size: 9px;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease-in-out;
  }
  
  &:focus {
    border-bottom: 1px solid rgba(51,51,51,1);
  }
  
  &:focus::placeholder {
    opacity: 0;
  }
  
  &:valid + .modal__label {
    top: 0;
    font-size: 9px;
  }
}

.modal__send {
  width: 125px;
  min-height: 36px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  border: 1px solid @normal;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-out 0.5s;
  
  &:hover,
  &:active {
    background-color: @normal;
    color: #fff;
  }
}

.modal__contacts {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.modal__info {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal__link {
  font-weight: 100;
  color: @normal;
  text-decoration: none;
  padding-right: 20px;
}