.niche {
  width: 100%;
  margin-bottom: 125px;
}

.niche__wrap {
  width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
}

.niche__block {
  padding-left: 60px;
  width: 490px;
  z-index: 2;
}

.niche__text {
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 0;
}

.niche__list {
  .reset;
  margin-left: 15px;
}

.niche__item {
  color: #6c6b72;
}