.promo {
  width: 100%;
  min-height: 1921px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 100% 1921px;
  
  &--order {
    background-image: url(../img/background-4.png);
    background-size: 100% 820px;
    padding-top: 200px;
    min-height: 820px;
  }
}

.promo__block {
  max-width: 470px;
}

.promo__h1 {
  font-size: 72px;
  line-height: 72px;
  color: @mint;
  font-weight: 900;
  
  span {
    display: block;
    font-family: "TrixieCyr-Plain", "Arial", sans-serif;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    color: @yellow;
    text-transform: uppercase;
  }
}

.promo__price {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}

.promo__date {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #6c6b72;
  margin: 0;
  text-transform: uppercase;
}

.promo__img {
  position: absolute;
  top: 0;
  right: 0;
}