.step {
  width: 100%;
  min-height: 1264px;
  color: #fff;
  padding-top: 120px;
  background-image: url(../img/background-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.step__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.step__title {
  display: flex;
  align-items: center;
}

.step__number {
  font-family: "TrixieCyr-Plain", "Arial", sans-serif;
  font-size: 150px;
  font-weight: 400;
  line-height: 48px;
  color: @mint;
  margin: 0;
}

.step__name {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  color: @yellow;
  margin: 0;
  padding-top: 20px;
}

.step__promo {
  max-width: 530px;
}

.step__list {
  .reset;
  list-style-type: none;
}

.step__item {
  margin-bottom: 50px;
}

.step__text {
  line-height: 30px;
  color: #6c6b72;
  margin: 0;
}